body{
margin:0;
font-family:Arial;
background:#f5f5f5;
}

header{
display:flex;
justify-content:space-between;
padding:15px 30px;
background:#7e5ae2;
color:white;
}

nav a{
margin-left:20px;
color:white;
text-decoration:none;
font-weight:bold;
}

.hero{
text-align:center;
padding:80px 20px;
background:white;
}

.hero button{
padding:12px 20px;
border:none;
background:#7e5ae2;
color:white;
cursor:pointer;
}

.products{
padding:40px;
text-align:center;
}

.product-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
}

.card{
background:white;
padding:15px;
border-radius:10px;
box-shadow:0px 4px 10px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

.card img{
width:100%;
height:150px;
object-fit:cover;
border-radius:8px;
}

.card button{
background:#7e5ae2;
color:white;
border:none;
padding:10px;
margin-top:10px;
cursor:pointer;
width:100%;
}

.contact{
padding:40px;
text-align:center;
background:white;
margin-top:20px;
}

footer{
background:#7e5ae2;
color:white;
text-align:center;
padding:15px;
margin-top:20px;
}
